<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">

  <div class="text-center">
    <h1>Iniciar sesión</h1>

    <form>
      <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Usuario">
      </div>
      <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
        <input type="password" class="form-control" placeholder="Contraseña">
      </div>
      <div class="mb-3">
        <p>¿Problemas con tu cuenta? <a href="#">Haz click aquí.</a></p>
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
  </div>

</div>
