<h4>Lista de alumnos registrados</h4>
<hr>
<button class="btn btn-success"> <i class="fas fa-plus"></i> Nuevo alumno</button>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Padre o apoderado</th>
        <th>Telf.</th>
        <th>Editar</th>
        <th>Eliminar</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mario</td>
        <td>Peralta Westreicher</td>
        <td>-</td>
        <td>972914057</td>
        <td>
          <button class="btn btn-primary"><i class="fas fa-edit"></i></button>
        </td>
        <td>
          <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
